services:
  consul:
    container_name: consul
    image: hashicorp/consul:latest
    command: "consul agent -server -bootstrap-expect=1 -ui -client=0.0.0.0 -data-dir=/consul/data"
    networks:
      - marcel-network
    ports:
      - "8500:8500"
  soiree:
    build: ./1-soiree
    networks:
      - marcel-network
    container_name: dj-marcel-soiree
    ports:
      - "3000:3000"
  playlist:
    build: ./2-playlist
    networks:
      - marcel-network
    container_name: dj-marcel-playlist
    ports:
      - "3001:3001"
  front:
    build: ./0-front
    networks:
      - marcel-network
    container_name: dj-marcel-front
    ports:
      - "3002:3002"

networks:
  marcel-network:
    driver: bridge